@model ThrowApp.Models.ShotPut

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<h4>Shot Put</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchShotPutResult">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input name="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Country" class="control-label">Country</label>
                <input name="Country" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Result" class="control-label">Result</label>
                <input name="Result" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Position" class="control-label">Position</label>
                <input name="Position" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
